.class
.log
.gradle/
build/
temp/
target/
.vscode
.DS_Store
node_modules/
security.properties
!build.gradle

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/