<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vongether.admin.board.dao.BoardAdminDAO">

	<resultMap id="boardResultMap" type="BoardVO">
	  <id property="bNo" column="b_no" />
	  <result property="bTitle" column="b_title"/>
	  <result property="bContent" column="b_content"/>
	  <result property="bHitcount" column="b_hitcount"/>
	  <result property="bRegdate" column="b_regdate"/>
	  <result property="mId" column="m_id"/>
	  <result property="rCount" column="r_count"/>
	</resultMap>
	
	<select id="selectBoardList" resultMap="boardResultMap">
		SELECT b_no, b_title, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id
		FROM board
		WHERE b_noticeYN = 0
	</select>
	
	<select id="selectBoard" parameterType="int" resultMap="boardResultMap">
	   SELECT b_no, b_title, b_content, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id
     FROM board
     WHERE b_no = #{bNo}
	</select>
	
	<insert id="insertNotice" parameterType="BoardVO">
		INSERT INTO BOARD (b_title, b_content, b_hitcount, b_regdate, b_noticeYN, m_id)
		VALUES(#{bTitle}, #{bContent}, 0, now(), 1, #{mId})
	</insert>
	
	<select id="selectNoticeList" resultMap="boardResultMap" parameterType="map">
		SELECT b_no, b_title, b_hitcount, DATE_FORMAT(b_regdate,'%Y-%m-%d') b_regdate, m_id
		FROM board
		WHERE b_noticeYN = 1
		<if test="keyword != null and keyword != ''">
			AND (
	  			b_title like CONCAT('%',#{keyword},'%')
	  			OR b_content like CONCAT('%',#{keyword},'%')
	  		)
  		</if>
		ORDER BY b_no DESC
		LIMIT #{pagination.startIndex},#{pagination.pageSize}
	</select>
	
	<select id="selectBoardCnt" resultType="int">
		SELECT COUNT(b_no)
		FROM board
		WHERE b_noticeYN = 0
	</select>
	
	<select id="selectNoticeCnt" resultType="int">
		SELECT COUNT(b_no)
		FROM board
		WHERE b_noticeYN = 1
	</select>
	


</mapper>
