<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vongether.intro.dao.IntroDAO">

    <resultMap type="VisitCountVO" id="VisitCountMap">
        <result column="visitId" property="visit_id"/>    
        <result column="visitIp" property="visit_ip"/>    
        <result column="visitTime" property="visit_time"/>    
    </resultMap>
    
    <insert id="visitCount" parameterType="VisitCountVO">
        INSERT
        INTO visitor_ct
        (
            visit_id,
            visit_ip,
            visit_time
        )
        VALUES
        (
            #{visitId},
            #{visitIp},
            CURDATE()
        )
    </insert>
    
</mapper>
