@charset "UTF-8";


.articleViewId {
	border-left: 2px solid #999999; 
	padding-left: 3px;
}
.articleViewRegdate{
	color : #999999; 
	font-size: 8px;
	float : right;
	padding-right: 5px;
	padding-top: 5px;
}
.articleViewHitcount{
	float : right;
	font-size: 12px;
	padding-right: 10px;
	padding-top: 2px;
}
.articleViewTitleBox{
	margin-bottom : 10px;
	padding: 5px;
	
	border-bottom: 2px solid #999999; 
}